
* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

#regionTooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 275px;
    /*height: 37px;*/
    padding: 2px;
    font: 12px sans-serif;
    background: #dad3d6;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

path.France_region:hover{
  fill: green;
}

/*** Vertical menu **/
.navbar-global {
  background-color: #6699cc;
}

.navbar-global .navbar-brand {
  color: white;
	font-size: 18px;
}

.sub{
	color: black;
	font-size: 14px;
}
.navbar-primary {
  background-color: #333;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}


.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

/*.navbar-primary-menu,*/
/*.navbar-primary-menu li {*/
  /*margin:0; padding:0;*/
  /*list-style: none;*/
/*}*/

.top-layer-nav span, .top-layer-nav div {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}


.top-layer-nav.panel-heading{
    padding: 0px;
}
.top-layer-nav span:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.mydropdown-menu{
    background-color: #ffffffd6;
    width: 100%;
}
.mydropdown-menu .divider{
    margin: 3px 0px;
}

.lowest-layer-nav {
    padding-left: 6px;
}
.lowest-layer-nav:hover {
    box-shadow: 0 0px -10px #ffffffd6;
    /*box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);*/
    text-shadow: 0px 0px 5px  ;
    /*background-color: #aaaaaad6;*/
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}

.lowest-layer-nav:hover , .top-layer-nav:hover .lowest-layer-nav , .France_region:hover {
    cursor: pointer;
}

/*.top-layer-nav:hover not .lowest-layer-nav{*/
    /*cursor: auto;*/
/*}*/

/*** Filter menu ***/

.panel-filters {
    /*background-color: #333;*/
    /*bottom: 0px;*/
    right: 0px;
    position: absolute;
    top: 51px;
    width: 230px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


.panel-default > .panel-heading-filters{
    color: #333;
    background-color: #f0f0f0;
    border-color: #ddd;
}
.subpanel-filters{
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

.filter{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */}




.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

/*** Page footer ***/

.footer{
  display: table;
  max-height: 70px;
  width: 100%;
  /*positioexpln: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  background-color: #efefef;
  text-align: center;
  padding-top: 25px
}

.footlogo {
  display: table-cell;
  line-height: 0;
  width: 35%;
}

.footdescription{
	top: -16px;
}

.footlogo span > img {
  width: 20%;
  height: auto;
}
