rect.background {
  fill: white;
}

.legend-background{
    opacity : 0.75;
    fill : whitesmoke
}
#legend:hover{
    cursor: move;
}

circle:hover{
    cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.France_region{
    -webkit-transition: all .75s linear;
    -moz-transition: all .75s linear;
    -o-transition: all .75s linear;
    transition: all .75s linear;
}

.dark_gold_shades .q0 { fill:#c7b98d}
.dark_gold_shades .q1 { fill:#b6a46b}
.dark_gold_shades .q2 { fill:#ae995a}
/*.dark_gold_shades .q3 { fill:#a08c4e}*/
.dark_gold_shades .q3 { fill:#8f7d46}
/*.dark_gold_shades .q4 { fill:#896e1c}*/
.dark_gold_shades .q4 { fill:#745d18}
.dark_gold_shades .q5 { fill:#514110}

/*.blue_shades .q0 { fill:#ccccdf}*/
.blue_shades .q0 { fill:#b2b2cf}
/*.blue_shades .q2 { fill:#9999bf}*/
.blue_shades .q1 { fill:#7f7fb0}
.blue_shades .q2 { fill:#6666a0}
.blue_shades .q3 { fill:#4c4c90}
.blue_shades .q4 { fill:#323280}
.blue_shades .q5 { fill:#191970}

.light_gold_shades .q0 { fill: #fbf0a7
}
.light_gold_shades .q1 { fill:#f6e18e}
/*.light_gold_shades .q2 { fill:#f1d181}*/
.light_gold_shades .q2 { fill:#f0d275}
.light_gold_shades .q3 { fill:#eac25c}
.light_gold_shades .q4 { fill:#e2b440}
/*.light_gold_shades .q6 { fill:#e7ae22}*/
.light_gold_shades .q5 { fill:#daa520}

/*.grey_shades .q0 { fill:#d3d3d3}*/
/*.grey_shades .q1 { fill:#bdbdbd}*/
.grey_shades .q0 { fill:#a8a8a8}
.grey_shades .q1 { fill:#939393}
.grey_shades .q2 { fill:#7e7e7e}
.grey_shades .q3 { fill:#696969}
.grey_shades .q4 { fill:#545454}
.grey_shades .q5 { fill:#3f3f3f}

.red_shades .q0 { fill: #ffd59b}
.red_shades .q1 { fill: #ffa474}
.red_shades .q2 { fill: #f47461}
.red_shades .q3 { fill: #db4551}
.red_shades .q4 { fill: #b81b34}
.red_shades .q5 { fill: #8b0000}

.bottle_shades .q0 {fill: #d1fff3}
.bottle_shades .q1 {fill: #a8dacb}
.bottle_shades .q2 {fill: #80b5a4}
.bottle_shades .q3 {fill: #59937f}
.bottle_shades .q4 {fill: #33715c}
.bottle_shades .q5 {fill: #00513b}

.piepink_shades .q0 {fill: #ffb6da}
.piepink_shades .q1 {fill: #ffa1cb}
.piepink_shades .q2 {fill: #ff89bc}
.piepink_shades .q3 {fill: #ff6fad}
.piepink_shades .q4 {fill: #ff519e}
.piepink_shades .q5 {fill: #ff1d8e}

.spinach_shades .q0 {fill: #ecefde}
.spinach_shades .q1 {fill: #d6dabe}
.spinach_shades .q2 {fill: #c0c59d}
.spinach_shades .q3 {fill: #aab17f}
.spinach_shades .q4 {fill: #949e61}
.spinach_shades .q5 {fill: #7e8b43}

.salami_shades .q0 {fill: #f0d0d0}
.salami_shades .q1 {fill: #e0afad}
.salami_shades .q2 {fill: #ce908b}
.salami_shades .q3 {fill: #bb706b}
.salami_shades .q4 {fill: #a8504c}
.salami_shades .q5 {fill: #922f2f}

.fishy_shades .q0 {fill: #ddd9e6}
.fishy_shades .q1 {fill: #c9c3d7}
.fishy_shades .q2 {fill: #b6acc9}
.fishy_shades .q3 {fill: #a398bb}
.fishy_shades .q4 {fill: #9083ac}
.fishy_shades .q5 {fill: #7d6e9e}

.fruit_shades .q0 {fill: #f0e3c3}
.fruit_shades .q1 {fill: #f0c896}
.fruit_shades .q2 {fill: #f6aa6d}
.fruit_shades .q3 {fill: #fb8847}
.fruit_shades .q4 {fill: #fe5e21}
.fruit_shades .q5 {fill: #ff0800}

.sandwich_shades .q0 {fill: #ffffe0}
.sandwich_shades .q1 {fill: #fff0c4}
.sandwich_shades .q2 {fill: #ffe1ac}
.sandwich_shades .q3 {fill: #ffd298}
.sandwich_shades .q4 {fill: #ffc187}
.sandwich_shades .q5 {fill: #ffb265}

.composed_shades .q0 {fill: #ffc0ff}
.composed_shades .q1 {fill: #f992f7}
.composed_shades .q2 {fill: #e66be4}
.composed_shades .q3 {fill: #cb48cb}
.composed_shades .q4 {fill: #ac27ac}
.composed_shades .q5 {fill: #8b008b}

.butter_shades .q0 {fill: #ffffe0}
.butter_shades .q1 {fill: #f0da86}
.butter_shades .q2 {fill: #e2b24e}
.butter_shades .q3 {fill: #ce8a2a}
.butter_shades .q4 {fill: #b56511}
.butter_shades .q5 {fill: #9a4002}

.olive_shades .q0 {fill: #dee9b2}
.olive_shades .q1 {fill: #ebf478}
.olive_shades .q2 {fill: #d4e553}
.olive_shades .q3 {fill: #bed63d}
.olive_shades .q4 {fill: #a9c62d}
.olive_shades .q5 {fill: #93b700}

.breakfast_shades .q0 {fill: #eae3d9}
.breakfast_shades .q1 {fill: #d5cdc0}
.breakfast_shades .q2 {fill: #bfb7ab}
.breakfast_shades .q3 {fill: #a8a396}
.breakfast_shades .q4 {fill: #909084}
.breakfast_shades .q5 {fill: #787c72}

.lunch_shades .q0 {fill: #f6e3d9}
.lunch_shades .q1 {fill: #ecccbd}
.lunch_shades .q2 {fill: #d9b09d}
.lunch_shades .q3 {fill: #c39681}
.lunch_shades .q4 {fill: #ac7c67}
.lunch_shades .q5 {fill: #96644e}

.dinner_shades .q0 {fill: #eaf1f3}
.dinner_shades .q1 {fill: #b2c8d3}
.dinner_shades .q2 {fill: #7aa0b2}
.dinner_shades .q3 {fill: #497a8e}
.dinner_shades .q4 {fill: #275365}
.dinner_shades .q5 {fill: #142f39}

.tv_shades .q0 {fill: #d6d6d6}
.tv_shades .q1 {fill: #a4b5bd}
.tv_shades .q2 {fill: #8891a8}
.tv_shades .q3 {fill: #6b6d97}
.tv_shades .q4 {fill: #4a4c89}
.tv_shades .q5 {fill: #172c7e}


/*Red shades obtained on https://gka.github.io/palettes/#colors=lightyellow,orange,deeppink,darkred|steps=4|bez=1|coL=1*/
