rect.background {
  fill: white;
}

.legend-background{
    opacity : 0.75;
    fill : whitesmoke
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.France_region{
    -webkit-transition: all .75s linear;
    -moz-transition: all .75s linear;
    -o-transition: all .75s linear;
    transition: all .75s linear;
}

.dark_gold_shades .q0 { fill:#c7b98d}
.dark_gold_shades .q1 { fill:#b6a46b}
.dark_gold_shades .q2 { fill:#ae995a}
/*.dark_gold_shades .q3 { fill:#a08c4e}*/
.dark_gold_shades .q3 { fill:#8f7d46}
/*.dark_gold_shades .q4 { fill:#896e1c}*/
.dark_gold_shades .q4 { fill:#745d18}
.dark_gold_shades .q5 { fill:#514110}

/*.blue_shades .q0 { fill:#ccccdf}*/
.blue_shades .q0 { fill:#b2b2cf}
/*.blue_shades .q2 { fill:#9999bf}*/
.blue_shades .q1 { fill:#7f7fb0}
.blue_shades .q2 { fill:#6666a0}
.blue_shades .q3 { fill:#4c4c90}
.blue_shades .q4 { fill:#323280}
.blue_shades .q5 { fill:#191970}

.light_gold_shades .q0 { fill: #fbf0a7
}
.light_gold_shades .q1 { fill:#f6e18e}
/*.light_gold_shades .q2 { fill:#f1d181}*/
.light_gold_shades .q2 { fill:#f0d275}
.light_gold_shades .q3 { fill:#eac25c}
.light_gold_shades .q4 { fill:#e2b440}
/*.light_gold_shades .q6 { fill:#e7ae22}*/
.light_gold_shades .q5 { fill:#daa520}

/*.grey_shades .q0 { fill:#d3d3d3}*/
/*.grey_shades .q1 { fill:#bdbdbd}*/
.grey_shades .q0 { fill:#a8a8a8}
.grey_shades .q1 { fill:#939393}
.grey_shades .q2 { fill:#7e7e7e}
.grey_shades .q3 { fill:#696969}
.grey_shades .q4 { fill:#545454}
.grey_shades .q5 { fill:#3f3f3f}

.red_shades .q0 { fill: #ffd59b}
.red_shades .q1 { fill: #ffa474}
.red_shades .q2 { fill: #f47461}
.red_shades .q3 { fill: #db4551}
.red_shades .q4 { fill: #b81b34}
.red_shades .q5 { fill: #8b0000}

.bottle_shades .q0 {fill: #d1fff3}
.bottle_shades .q1 {fill: #a8dacb}
.bottle_shades .q2 {fill: #80b5a4}
.bottle_shades .q3 {fill: #59937f}
.bottle_shades .q4 {fill: #33715c}
.bottle_shades .q5 {fill: #00513b}

.piepink_shades .q0 {fill: #ffb6da}
.piepink_shades .q1 {fill: #ffa1cb}
.piepink_shades .q2 {fill: #ff89bc}
.piepink_shades .q3 {fill: #ff6fad}
.piepink_shades .q4 {fill: #ff519e}
.piepink_shades .q5 {fill: #ff1d8e}

.spinach_shades .q0 {fill: #ecefde}
.spinach_shades .q1 {fill: #d6dabe}
.spinach_shades .q2 {fill: #c0c59d}
.spinach_shades .q3 {fill: #aab17f}
.spinach_shades .q4 {fill: #949e61}
.spinach_shades .q5 {fill: #7e8b43}




/*Red shades obtained on https://gka.github.io/palettes/#colors=lightyellow,orange,deeppink,darkred|steps=4|bez=1|coL=1*/
